@model webApp12.Models.Question  


@{
    ViewBag.Title = "Create";
}

<h2>ASK A NEW QUESTION</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Question1, htmlAttributes: new { @class = "form-group col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Question1, new { htmlAttributes = new { @class = "form-control" } })
                @*@Html.ValidationMessageFor(model => model.Question1, "", new { @class = "text-danger" })*@
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.Answer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Answer, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Ask a Question" class="btn btn-succes" />
                <input type="reset" value="Cancel" class="btn btn-danger" />
            </div>
        </div>
    </div>


}

<div>
    @*@Html.ActionLink("Back to List", "~/Questions/Index")*@
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
@*<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>

</div>*@
