@model webApp12.Models.QuestionAnswer
    

@{
    ViewBag.Title = "Index";
}

<h2>ALL QUESTIONS</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-success">Ask a Question</a>
    <h4>
       
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <p>
                Question: @Html.TextBox("SearchString") <br />
                <input type="submit" value="Search" />
            </p>
        }
    </h4>

</p>

<table class="table table-hover list-group list-group-item-action list-group-item-success">
    <thead></thead>
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Question1)*@
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Answer)*@
        </th>
        <th>Find your answer</th>

    </tr>

    @foreach (var item in Model.questionsList)
    {
        
<tr>
   
    <td>

        @*@item.questions2.Question1*@

        <h3> <a href="#">@Html.DisplayFor(modelItem => item.Question1)</a></h3>
        <h5>@ViewBag.Counts...</h5>



    <td>
        @*@Html.DisplayFor(modelItem => item.Answer)*@
    </td>


    <td>
        @* @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |*@
        @*@Html.ActionLink("Details", "Details", new { id = item.questions2.Id }) |*@
        @Html.ActionLink("Answers", "Delete", new { id = item.Id })

    </td>
    
</tr>
       
    }

</table>
